sudo: required

script:
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - gcc --version

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5

language: java

jdk:
  - oraclejdk8

dist: trusty

#DEFOLD_AUTH=auth token
env:
  global:
    - DEFOLD_AUTH=foobar
    - DEFOLD_USER=bjorn.ritzl@gmail.com
    - DEFOLD_BOOSTRAP_COLLECTION=/test/test.collectionc

script:
  - "./.travis/run.sh"

after_success:
  - bash <(curl -s https://codecov.io/bash)
