name: CI

on: [push]

jobs:
    build_and_run:
        name: Build and run
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v1
          - uses: actions/setup-java@v1
            with:
                java-version: '11'
          - name: Run.sh
            env:
                DEFOLD_USER: bjorn.ritzl@gmail.com
                DEFOLD_AUTH: foobar
                DEFOLD_BOOSTRAP_COLLECTION: /test/test.collectionc
            run: ./.travis/run.sh
